API_ID=20353207
API_HASH=e5b2ac2f9c37bda345fa9fb5ade66961
BOT_TOKEN=7639862884:AAHMfEwdUiTdF0i41gze7xM6I9dks4TL-O4
LOG_GROUP_ID=-1002138809373
MONGO_DB_URI=mongodb+srv://danishzain1637:papaspartan@cluster0.xdje3.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6713994904
STRING_SESSION=BQGf1DEAKA8mXm2UeEfIVbSQoWlPuDpoW5edN35cU2u8AqAvXRj-4o5EeYSdCviHHSF17aM2a66wh_uTloDj9tlOYdzhV3Pa2plzTOmoi2JwqAa0p3hjPjoDxicZmnIAKC2Ch_x17L8JZ19tAzAPSe7WKwVeFOm2in_8K6Qd48qVFucPVo5iPj1U-BMQg4llJGqietFQt4RoBkiHO8HGbg96c0pxcU_bJTEsoP3yK53Ig0WaEfJ43h2S0IE1RF6cqRjhOaA2JV7Tqa8PlaMuTOlG-Ulsbz56gHcPrTBd3rart8C7sia65pJkuahbn0tJf6ryx43PkqhUqsIZDK1uZZtVHRaPowAAAAGfQfXMAA
