API_ID=20353207
API_HASH=e5b2ac2f9c37bda345fa9fb5ade66961
BOT_TOKEN=7639862884:AAHMfEwdUiTdF0i41gze7xM6I9dks4TL-O4
LOG_GROUP_ID=-1002138809373
MONGO_DB_URI=mongodb+srv://danishzain1637:papaspartan@cluster0.xdje3.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6713994904
STRING_SESSION=BQGf1DEAi43dom7S4vzBNJs5uzo-XHuTBikfb1vxgpDwXvPZIDwO6kjnWd5TcnzDp_q6-_JCpnUaLnGam75Z3wyEiIeETv9tCsM1P5gO0R9A-VIL1EhAqGdxyiJAbCFW0-8pZ0x-1NMX_821pegAkJPkMA4ORFnJ3FKki8IVTBHZcoKZQ15LkDfN8mTdUUZHs8qrEZLRtQWKJT6UorLa6uiMEUrBw-se5Dv9Xudo2df0G_SXXFcoWVtB8YDoIkx8g1fOoJLH8qRPD454xYUnGNgeZmyueRxCyAZw0zD3Izocebzma8qjg2VkxTieB6sV-crCO_g95gf7vKg6ofO3C6n9icGuLQAAAAGfQfXMAA
